.card {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 0.3em;
}
.card > [class*="__header"] {
    border-bottom: 1px solid #ccc;
}
.card > [class*="__header"] > * {
    margin-bottom: 0;
}
.card > [class*="__body"] > *:last-child {
    margin-bottom: 0;
}
.card > [class*="__header"],
.card > [class*="__body"],
.card > [class*="__footer"] {
    padding: 1.3em;
}
.card > [class*="__footer"] {
    border-top: 1px solid #ccc;
}



/* .swipe-control {
    position: relative;
}

.swipe-control__left,
.swipe-control__right {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background-color: lime;
}
.swipe-control__left {
    left: 0;
} */

.swipe-control__left {
    float: left;
}
.swipe-control__right {
    float: right;
}